/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Add accessible line-height */
body {
  line-height: 1.5;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
CUSTOM CSS
===========
*/

body {
  min-height: 100vh;
  display: flex;
  font-family: sans-serif;
  font-size: 1.25rem;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./Norse-Bold.otf");
}

.column-left {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
}

.column-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

.background-image {
  min-height: 100vh;
  object-fit: cover;
}

.background-logo {
  position: absolute;
  top: 15%;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 1rem;
  max-height: 125px;
}

.logo-text {
  font-family: "Norse Bold";
  font-size: 5rem;
}

.image-credits {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 75%) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  justify-content: center;
  align-items: flex-end;
}

.image-credits a {
  color: white;
}

.description {
  padding: 3rem;
  max-width: 66%;
  font-size: 1.5rem;
  font-weight: bold;
}

.description p {
  padding: 1rem;
}

.form-inputs h2 {
  color: #1b4646;
}

.form-inputs {
  font-weight: 100;
  background-color: white;
  box-shadow: 0px 15px 20px 0px #ececec;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-row {
  display: flex;
  gap: 4rem;
}

.input-element {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  flex: 1;
}

.input-element label {
  font-size: 1rem;
  text-transform: uppercase;
}

.input-element input {
  border-radius: 5px;
  border: solid 1px #ececec;
  padding: 0.5rem;
}

.input-element input:focus-visible {
  border: solid 1px hsl(235, 100%, 60%);
  box-shadow: 5px 5px 5px 0px #ececec;
  outline: initial;
}
.input-element input:invalid {
  border: solid 1px hsl(0, 100%, 60%);
  outline: initial;
}

.container-login {
  display: flex;
  padding: 4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

button {
  background-color: #70a0a0;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border-width: 0;
  box-shadow: 5px 5px 20px 0px #bbbbbb;
}

.login a {
  color: #70a0a0;
}
